 @import "./mixin.scss";
 .container {
    position: relative;
     width: 1226px;
     margin-right: auto;
     margin-left: auto;
 }

 a {
     img {
         width: 100%;
         height: 100%;
     }
 }
 input{
    outline: none;//取消边线
    box-sizing: border-box;
    font-size: 14px;
 }
 .fl{
    float: left;
 }
 .fr{
    float: right;
 }
 .clearfix:before,.clearfix:after{
    content: "";
    display: table;
 }
 .clearfix:after{
    clear: both;
 }
 //公共logo
 .header-logo {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #ff6600;

    a {
       display: inline-block;
       width: 110px;
       height: 55px;

       &:before {
          content: " "; //占位 生成伪类
          @include bgImg(55px, 55px, "/public/imgs/mi-logo.png", 55px);
          transition: margin 0.2s; //过渡动画
       }

       &:after {
          content: " "; //占位 生成伪类
          @include bgImg(55px, 55px, "/public/imgs/mi-home.png", 55px);
       }

       &:hover:before {
          margin-left: -55px;
          transition: margin 0.2s; //过渡动画
       }
    }
 }