//flex布局复用
@mixin flex($hov: space-between, $col: center) {
    display: flex; //设置弹性布局
    justify-content: $hov; //水平方向居中
    align-items: $col; //垂直方向居中
}

@mixin bgImg($w:0,$g:0,$img:"",$size:contain) { //参数设置
    display: inline-block;
    width: $w;
    height:$g;
    background: url($img) no-repeat center;
    background-size: $size;//等比缩放(会留白边)
}